
/*-- Navigation Bar Links --*/
.list-group-item {
    background: deepskyblue;
    border-radius: 8px;
    font-size: 12px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    display: center;
    color: black;
  }
  
  li a {
    display: inside;
    color:whitesmoke;
    font-weight: bold;
    text-align: center;
    padding: 3px 3px;
    text-decoration: none;
  }

#bottomNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #bottomNav li {
    display: inline;
  }

  #topNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #topNav li {
    display: inline;
  }

footer  li a {
    display: inline;
    color:whitesmoke;
    font-weight: bold;
    text-align: center;
    padding: 3px 3px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: whitesmoke;
    
  }
button a {
    display: inside;
    color:whitesmoke;
    font-weight: bold;
    text-align: center;
    padding: 3px 3px;
    text-decoration: none;
  }

  #b4 a {
    display: inside;
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 3px 3px;
    text-decoration: none;
  }
  
/*-- END Navigation Bar Links --*/

/*-- Buttons --*/
button {
    border-radius: 100px;
    padding: 12px;
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Domine', serif;
    padding: 2px;
}

#b1 {
    background-color: mediumseagreen;
    border: 2px solid yellowgreen;
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
  
}

#b2 {
    background-color: coral;
    border: 2px solid lightsalmon;
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
    font-size: 10px;
}

#b3 {
    background-color: deepskyblue;
    border: 2px solid lightsteelblue;
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
}

#b4 {
    background-color: whitesmoke;
    border: 2px solid lightsteelblue;
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
}
/*-- END Buttons--*/

/*-- Input Labels and Fields --*/
.inputLabel, .inputField {
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
    float: center;
    color: lightgray;
}
.inputField {
    border-radius: 100px;
    padding: 1px;
    border: 1px solid deepskyblue;
}
.inputLabel {
    border-radius: 100px;
    font-size: 10px;

}
/*

/*-- END Input Labels and Fields --*/



/*-- Images--*/
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

#logoIcon, #videoImg {
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    
  }

#logo, #logoIcon {
    border-radius: 4px;
    padding: 5px;
    width: 100px;
  }

  #logoIcon {
    width: 150px;
  }

  #logoText {
    width: 66px;
  }
/*-- END Images--*/

/*-- Outer Containers--*/

 #headline, #articles{ 
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
    color: black;
    border: 2px solid paleturquoise;
    border-radius: 8px;
    vertical-align: middle;
    padding: 1%;

}
    #navhead{
        border-bottom: 2px solid paleturquoise;
        margin-bottom: 1%;
        padding: 10px;
        text-align: center;
    }

    #navfoot {
        border-top: 2px solid paleturquoise;
        margin-top: 50px;
        padding: 10px;
        text-align: center;
        }

    #search, #articles {
        text-align: center;
        }
    
/*-- END Outer Containers--*/

/*-- Inner Containers--*/
#hookBox, #videoBox{ 
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    padding: 1%;
    border-radius: 8px;
}
/*-- END Inner Containers--*/


/*-- Style Themes--*/
#art1, #art4, #recipes, #about{
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
    color:whitesmoke;
    background-color: deepskyblue;
    border: 2px solid white;
    padding: 1%; 
    border-radius: 8px;
}

#art2, #shop, #blog {
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
    color:whitesmoke;
    background-color: mediumseagreen;
    border: 2px solid white;
    padding: 1%; 
    border-radius: 8px;
}

#art3, #login, #home {
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
    color:whitesmoke;
    background-color: coral;
    border: 2px solid white;
    padding: 1%; 
    border-radius: 8px;
}
/*-- END Style Themes--*/

/*-- Fonts--*/
body {
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
    color: black;
    border: 2px solid white;
    border-radius: 8px;
}

p {
    font-family: 'Montserrat', 'Raleway','Roboto', Arial, Helvetica, sans-serif;
    color: black;
    text-align:left; 
}

h1, h2, h3, h4 {
    font-family: 'Domine', serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h2 {

    font-size: 30px;
    text-align: left;
}

h3 {
    font-size: 22px;
    padding: 6px
}

h4 {
    font-size: 14px;
    font-weight: normal;
}



